%h1 Oregon PEO Chapter FL Scholarship

%p The Oregon PEO Chapter FL Scholarship grants up to $10,000 dollars to students every year.

%h2 Requirements

%p Each applicant must:

%ul
  %li Be a woman studying in the US
  %li Be a high school graduate or equivalent
  %li Be enrolled in or has been accepted into any higher education program, with preference given to women who are either dually enrolled at Central Oregon Community College or enrolled in any of the OSU Cascades undergraduate or graduate degree programs
  %li Not be related to a current member of the Chapter FL Scholarship Committee

.mt-5.text-center
  = link_to 'Apply Now', scholarships_path, class: 'btn btn-primary'
