:css
  /* We do not want this css to interfere with other pages. Is there a better way to implement it? */
  main.container {
    padding: 0;
    max-width: 100%;
  }

.title-bar
  %img.background-image
    = image_tag "mirror_pond.jpg"
  .centered-title
    %img
      = image_tag "peo_logo_white_med.png"
    %h1 Chapter FL P.E.O. Foundation Scholarship
    %h2 Women Helping Women Reach for the Stars

%center
  .body-content
    %h2 Chapter FL P.E.O. Foundation Scholarship and the Carolyn Swisher Memorial Scholarship
    %p P.E.O. Chapter FL, Oregon created a specific scholarship fund in 2011. This scholarship is designed to be available to women attending any higher education institution, with preference given to those either dually enrolled in Central Oregon Community College and OSU-Cascades or to women enrolled in any of the OSU Cascades undergraduate or graduate programs. The typical awards are between $500 and $3000 per year.

    %h3 A woman is eligible to apply if she:
    %ul
      %li Is studying in the United States
      %li Is a high school graduate or equivalent
      %li Is enrolled in or has been accepted into any higher education program, with preference given to women who are either dually enrolled at Central Oregon Community College or enrolled in any of the OSU Cascades undergraduate or graduate degree programs
      %li Financial need will be considered

.mt-5.text-center
  = link_to 'Apply Now', scholarships_path, class: 'btn btn-primary'
