%h1 Oregon PEO Chapter FL Scholarship

%p The Oregon PEO Chapter FL Scholarship grants up to 10000 dollars to students every year.

%h2 Requirements

%ul
  %li Is a women studying in the US
  %li Is a highschool grad or equivalent
  %li Is enrolled in or has been accepted into any higher education program, with preference given to women who are either dually enrolled at COCC or enrolled in any of the OSU Cascades undergraduate or graduate degree programs
  %li Is not related to a current member of the Chapter FL Scholarship Committee

.mt-5.text-center
  = link_to 'Apply Now', scholarships_path, class: 'btn btn-primary'

