%h1 Scholarships

%ul.list-unstyled.mt-5
  - @scholarships.each do |scholarship|
    %li.mb-5[scholarship]
      %h2= link_to scholarship.name, scholarship
      %p Application deadline: #{scholarship.application_deadline.to_s(:long)}
      %p
        - if current_user.started_application_for?(scholarship)
          - application = current_user.application_for(scholarship)
          = link_to 'View Application', scholarship_application_path(scholarship, application.id), class: 'btn btn-xs btn-primary'
        - else
          = link_to 'Begin New Application', new_scholarship_application_path(scholarship), class: 'btn btn-xs btn-outline-primary'
