%h1 Scholarships
%ul
	- @scholarships.each do |scholarship|
		%li
			= link_to scholarship.name, scholarship
.mt-5.text-center
	= link_to 'New Scholarship', new_scholarship_path, class: 'btn btn-primary'