%h1 Scholarships

- if @scholarships.empty?
  %h2.display-4.mt-5.text-muted There are no currently open scholarships.

%ul.list-unstyled.mt-5
  - @scholarships.each do |scholarship|
    %li.mb-5[scholarship]
      %h2= scholarship.name
      %p Application deadline: #{scholarship.application_deadline.to_formatted_s(:long)}
      %p
        - if current_user.started_application_for?(scholarship)
          = link_to 'View Application', scholarship_application_path(scholarship, current_user.application_for(scholarship)), class: 'btn btn-xs btn-primary'
        - elsif scholarship.closed?
          Applications are closed.
        - else
          = link_to 'Begin New Application', new_scholarship_application_path(scholarship), class: 'btn btn-sm btn-primary'
