%h1 Administration
%h2= @scholarship
%h3 Applications
- if @applications.empty?
  %h4.text-center There are no submitted applications yet.
- else
  %table.table.table-hover
    %thead
      %tr
        %th{scope: 'col'} Applicant
        %th{scope: 'col'} Status
        %th Last Updated
    %tbody
      - @applications.each do |application|
        %tr
          %th{scope: 'row'}= link_to application.applicant, admin_scholarship_application_path(@scholarship, application)
          %td= application.submitted? ? 'Complete' : 'Incomplete'
          %td= application.updated_at.to_s(:long)
