%h1 Administration
%h2= @scholarship
.float-right
  = link_to 'Add New Question', new_admin_scholarship_question_path(@scholarship), class: 'btn btn-outline-primary'
%h3 Questions
%ul
  - @questions.each do |q|
    %li= q
