/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 6rem;
  margin-bottom: 60px;
}

main {
  margin-bottom: 5rem;
}

.navbar-brand img {
  height: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  line-height: 60px;
  border-top: 1px solid $gray-400;
  background-color: #F0F0F0;
  nav {
    display: inline;
    ul {
      float: right;
      list-style: none;
      li {
        height: 1rem;
        float: left;
        margin-left: 15px;
      }
    }
    a {
      color: $gray-400;
      &:hover {
        color: $gray-400;
      }
    }
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}

.form-container {
  width: 50%;
  margin-top: 2rem;
  input[type="submit"] {
    margin-top: 1rem;
    width: auto;
  }
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .75rem;
  line-height: .5;
  border-radius: .2rem;
}

.button_to {
  display: inline;
}

/* Homepage */

body.home main.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.title-bar {
  position: relative;
  bottom: 3rem;
  text-align: center;
  color: white;
}
.title-bar > img {
  width: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  z-index: 0;
}
.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.centered-title h1, .centered-title h2, .centered-title img, .apply-button {
  filter: drop-shadow(0 0 5px black);
}

body.home main.container .alert {
  position: absolute;
  top: 5.5rem;
  margin-left: 15px;
  z-index: 1;
  width: 97%;
}

.info-bar {
  margin-top: 3rem;
  padding: 30px 10% 30px 10%;
  color: white;
  background-image: linear-gradient(#012d72, #001f51);
  font-size: 1.2em;
}
.info-bar p {
  padding: 5px;
  margin: 0;
}
.info-bar span {
  font-weight: bold;
  color: yellow;
}

/* Authentication */

body.sessions.new, body.registrations.new, body.registrations.create {
  background-color: #f5f5f5;
}

.container-auth {
  margin-top: 5rem;
}

.form-auth {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .g-recaptcha {
    display: inline-block;
  }
}

.form-signin {
  max-width: 330px;
}

.register_prompt {
  width: 50%;
  margin: auto;
}

#applicant_table {
  font-size: 12px;
}